#elementor-panel-page-editor{
    .elementor-control{
        .mgs_elementor_editor_rawhtml{
            color: #a4afb7;
            font-size: 11px;
            line-height: 12px;
            h4{
                font-size: 13px;
                font-weight: 600;
            }
            p, h4{margin-bottom: 5px;}

        }
    }
}