.mgs-posts-wrapper{
    display: grid;
    &.layout-default{
        .mgs-posts-post{
            display: block;
            overflow: hidden;
            border-style: solid;
            box-shadow: 0 0 5px rgba(#000, 0.4);
            .thumbnail{
                display: block;
            }
            .content{
                padding: 1rem;
                .mgs_post_title{margin-top: 0;}
                .metas{
                    .sep{padding: 0 0.3rem;}
                }
            }

            &.has_thumbnail{
                .thumbnail{
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            &:not(.has_thumbnail){
                .thumbnail{
                    background: radial-gradient(circle, rgba(254,165,48,1) 0%, rgba(241,241,241,0.700717787114846) 101%);
                }
            }
        }
    }
}

.mgs_pagination{
    &.default{
        &.mgs_pagination_numbers{
            display: flex;
            gap: 10px;
            margin-top: 1rem;
        }
        &.mgs_pagination_prev_next{
            display: flex;
            gap: 10px;
            margin-top: 1rem;
        }
    }
}