
.owl-carousel{
    .owl-nav{
        &.disabled{display: none; color: black;}
    }
    .owl-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        button.owl-dot{
            span{
                margin: 5px;
                display: block;
                border-radius: 50%;
                background-color: lightgray;
                height: 20px;
                width: 20px;
            }
            &:focus{
                outline: none;
            }

            &.active{
                span{
                    background-color: darkgray;
                }
            }
        }


        &.disabled{display: none;}
    }
}